/*    шрифты    */
@font-face {
    font-family: 'Whitney Book';
    src: url('Whitney-Book.eot');
    src: local('Whitney Book Regular'), local('Whitney-Book'),
        url('../fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Book.woff') format('woff'),
        url('../fonts/Whitney-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney Semibold';
    src: url('Whitney-Semibold.eot');
    src: local('Whitney Semibold Regular'), local('Whitney-Semibold'),
        url('../fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Semibold.woff') format('woff'),
        url('../fonts/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney Medium';
    src: url('Whitney-Medium.eot');
    src: local('Whitney Medium Regular'), local('Whitney-Medium'),
        url('../fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Medium.woff') format('woff'),
        url('../fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI SemiBold';
    src: url('SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-SemiBold.woff') format('woff'),
        url('SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/*  сброс стилей браузера */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, menu, summary, details {
  display: block;
}
:focus {
    outline: 0;
}
ol, ul {
  list-style: none;
} 
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0;
    white-space: normal; 
    *margin-left: -7px;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
    *height: 13px; 
    *width: 13px; 
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
::-moz-selection {
    background: #F6B8EE;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #F6B8EE;
    color: #fff;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* основные стили */
html {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #474351; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.65rem; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  background-color: transparent; }

a:hover {
  text-decoration: none; }


.wrap {
    margin: 0 auto;
    width: 100%;
}
.button-primary {
    display: inline-block;
    font-family: 'Whitney Semibold';
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-color: #F25B24;
    padding: 12px 60px;
    border-radius: 4px;
}
main {
    padding-bottom: 185px;
}
img {
    max-width: 100%;
    height: auto;
}

/*   header     */
.menu {
    background-image: linear-gradient(to right, #2D1686, #4E33B5);
    height: 700px;
}
.menu__container, .nav {
    display: flex;
    flex-wrap: wrap;
}
.menu__container {
    justify-content: space-between;
}
.menu__logo {
    margin-top: 34px;
}
.menu__list {
    margin-top: 37px;
}
.nav__link {
    font-family: 'Whitney Book';
    color: #fff;
    font-size: 18px;
}
.nav__link:last-child {
    margin-left: 101px;
}
.nav__link_icon {
    background-image: url(../icon/login.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px; 
    padding: 0 12px 0 35px ;
}
.first-block {
    width: 100%;
}  
.first-block__container {
    background: url(../icon/header.svg);
    background-repeat: no-repeat;
    background-position: top right -2px;
    background-size: 689px  442px;
    width: 100%;
    min-height: 442px;
}
.first-block__box {
    padding-top: 44px;
}
.menu__content {
     margin-top: 90px;
}
.first-block__title {
    font-family: 'Whitney Semibold';
    color: #fff;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.first-block__text {
    font-family: 'Whitney Medium';
    color: #fff;
    font-size: 24px;
    margin-bottom: 60px;
    line-height: 1.3;
}

/*    advantages    */
.advantages {
    background-color: #fff;
    padding: 127px 0 130px 0;;
}
.advantages__title {
    font-family: 'Whitney Semibold';
    color: #2E2D35;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}
.advantages__container {
      padding-top: 15px;
}
.second-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second-block__box {
    display: flex; 
    width: 570px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 42px 10px 20px 42px;
    background-color: #F6F5F9;
    border-radius: 6px;
}
.second-block__box:nth-child(even) {
      margin-right: 0;
}
.second-block__content {
     flex: 2; 
      padding-right: 45px;
}
.second-block__pd {
    padding-right: 35px;
}   
.second-block__icon {
     margin-top: -20px;
}   
.second-block__title {
    font-family: 'Segoe UI SemiBold';
    color: #2E2D35;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}
.second-block_line {
     line-height: 1.4;
}
.second-block__text {
    font-family: 'Segoe UI';
    color: #474351;
}

/*  register   */
.register {
    background-image: linear-gradient(to right, #2D1686, #4E33B5);
    border-radius: 10px;
    padding: 16px 0;
    height: 371px;
}
.register__container {
    padding-top: 5%;
    padding-left: 6%;
    width: 100%;
    height: 100%;
}
.register__img {
    background: url(../img/car.png);
    background-repeat: no-repeat;
    background-position: top 3px right;
    background-size: 732px  340px;
}
.register__text {
    font-family: 'Whitney Semibold';
    color: #fff;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 45px;
    line-height: 1.3;
}

/*   modal window   */
.modal {
    display: none;
    background-color: rgba(28, 24, 47, 0.3);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.modal__content {
     position: relative;
     width: auto;
     margin: 10px;
}
@media (min-width: 576px) {
    .modal__content {
        max-width: 490px;
        margin: 10% auto;
    }
}
.modal__box {
    display: flex;
    flex-flow: column;
    background-color: #fff;
    border-radius: 6px;
}
.modal__button_close {
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 26px 25px 18px 25px;
}
.close {
    cursor: pointer;
}
.close::before {
    content: '';
    display: block;
    background-image: url(../icon/close.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}
.modal__body {
    padding: 0 60px 55px 60px;
}
.modal__title {
    font-family: 'Whitney Semibold';
    font-size: 40px;
    text-align: center;
    color: #2E2D35;
}
.form {
    display: flex;
    flex-flow: column;
}
.modal__form {
     margin-top: 30px;
}
.form__field {
    margin-bottom: 17px;
}
.form__label {
      font-family: 'Whitney Medium';
      font-size: 18px;
      color: #474351;
      display: block;
      margin-bottom: 10px;
}
.form__input {
    font-family: 'Whitney Book';
    border: 1px solid #DDDAE7;
    border-radius: 4px;
    color: #918D9A;
    padding: 0.7rem;
    width: 100%;
}
.form__button {
    margin-top: 16px;
    border: 0;
}

/*   media    */
@media screen and (min-width: 1200px) {
   .wrap {
        max-width: 1170px;
}
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
   .wrap {
        max-width: 960px;
        padding: 20px;
}
}
@media screen and (max-width: 1200px)  {
   .second-block__box {
      width: 100%;
      margin-right: 0;
}
}
@media screen and (max-width: 991.98px) {
    .first-block__container {
        background-image: none;
   }
   .first-block {
       text-align: center;
   }
}
@media screen and (max-width: 767.98px) {
     html {
        font-size: 15px;
     }
     .wrap {
        padding: 15px;
}
   .first-block__title {
       font-size: 30px;
   }
   .first-block__text {
       font-size: 20px;
   }
   .advantages {
       padding: 70px 0;
   }
   .advantages__title {
       font-size: 30px;
   }
   .second-block__title {
        font-size: 20px;
   }

   .register__text {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 20%;
   }
}
@media screen and (max-width: 576px) {
    .menu__logo {
        text-align: center;
    }
    .nav__link {
        margin-left: 0;
    }
    .nav {
         justify-content: space-around;
    }
    .menu__container {
         flex-direction: column;
    }
    .second-block__box {
        padding-bottom: 45px;
    }
     .second-block__icon {
          display: none;
     }
}