.form {
    @include flex (colomn);
    justify-content: flex-start;

 &__field {
    @include flex (colomn);
    margin-bottom: 17px;
    justify-content: flex-start;
}
 &__label {
      font-family: 'Whitney Medium';
      font-size: 18px;
      color: $body-color;
      display: block;
      margin-bottom: 10px;
}
 &__input {
    font-family: 'Whitney Book';
    border: 1px solid #DDDAE7;
    border-radius: 4px;
    color: #918D9A;
    background-color: #fff;
    padding: 12px;
    width: 100%;

    &:focus {
      border-color: #2458B5;
}
}
 &__button {
    margin-top: 16px;
    border: 0;
}
}