/*  модальное окно   */
.modal {
    display: none;
    position: relative;

   &__content {
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 24, 47, 0.3);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
   &__box {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    padding: 50px;
    width: 490px;
    max-height: calc(100vh - 30px); /* отступы при ум высоты экрана  */
    overflow: auto;
     @include respond (small-up) {
        padding: 30px;
        width: calc(100% - 30px);
     }
}
   &__button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-image: url(../icon/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
  &__title {
    font-family: 'Whitney Semibold';
    font-size: 35px;
    text-align: center;
    color: #2E2D35;

     @include respond (medium) {
        font-size: 30px;
     }
     @include respond (small) {
          font-size: 26px;
     }
}
  &__form {
     margin-top: 30px;
}
 }