/*    header   */
header {
    padding: 25px 0;
}
.menu {
   @include flex(wrap);
    justify-content: space-between;
    align-items: center;
  @include respond (small-up) {
      flex-direction: column;
  }
  &__logo {
    @include respond (small-up) {
        margin-bottom: 30px;
    }
}
  &__img {
     @include respond (small-up) {
         width: 140px;
        height: 28px;
    }
  }
}