  /*    advantages    */
.advantages {
    background-color: #fff;
    padding: 127px 0 130px 0;

    @include respond (small) {
         padding: 70px 0;
    }

  &__title {
    font-family: 'Whitney Semibold';
    color: $title-color;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;

    @include respond (small) {
         font-size: 30px;
    }
}
  &__container {
      padding-top: 15px;
}
}

.second-block {
    @include flex (wrap);
    justify-content: space-between;

  &__box {
    display: flex; 
    width: 570px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 42px 10px 20px 42px;
    background-color: #F6F5F9;
    border-radius: 6px;

      &:nth-child(even) {
      margin-right: 0;
}
    @include respond (medium-up) {
      width: 100%;
      margin-right: 0;
}
   @include respond (small-less) {
      padding-bottom: 45px;
}
}
  &__content {
     flex: 2; 
      padding-right: 45px;
}
  &__pd {
    padding-right: 35px;
}   
  &__icon {
     margin-top: -20px;

     @include respond (small-less) {
         display: none;
     }
}   
  &__title {
    font-family: 'Segoe UI SemiBold';
    color: $title-color;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;

    @include respond (small) {
         font-size: 20px;
    }
}
  &__line {
     line-height: 1.4;
}
  &__text {
    font-family: 'Segoe UI';
}

 }