/*  second-block  */
.second-block {
    @include flex (wrap);
    justify-content: space-between;

    @include respond (medium-up) {
         flex-direction: column;
    }

  &__box {
    flex: 1 0 48%;
    background-position: top 20px right 15px;
    background-repeat: no-repeat;
    margin-top: 30px;
    padding: 42px 220px 50px 42px;
    background-color: #F6F5F9;
    border-radius: 6px;

      &:nth-child(2n+1) {
         margin-right: 30px;
         @include respond (medium-up) {
           margin-right: 0px;
         }
}
    @include respond (large-less) {
        padding: 30px 175px 40px 30px;
        background-size: 190px;
}
   @include respond (medium-up) {
        padding: 25px 115px 40px 20px;
        background-size: 135px;
}
   @include respond (medium) {
       background-size: 130px;
   }
   @include respond (small-less){
       background-size: 70px;
       padding: 25px;
   }
   @include respond (small) {
      background-position: top 20px left 15px;
      padding: 90px 20px 20px;
   }
}
  &__title {
    font-family: 'Segoe UI SemiBold';
    color: $title-color;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;

    @include respond (medium) {
         font-size: 20px;
}
   @include respond (small) {
       font-size: 18px;
        margin-bottom: 10px;
   }
}
  &__text {
    font-family: 'Segoe UI';
    font-weight: 400;
}
  @include respond (small) {
     font-size: 15px;
  }
 }
