/*   основные стили        */

//стандартные стили для часто используемых элементов 

html {
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    -webkit-text-size-adjust: 100%; 

    @include respond (small) {
           font-size: 15px;
      }
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $body-color;
   }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.65rem; 
  }
p {
  margin: 0;
  padding: 0; 
  }
a {
  text-decoration: none;
  background-color: transparent; 
  }
a:hover {
  text-decoration: none; 
  }
  
.wrap {
    margin: 0 auto;
    width: 100%;

    @include respond (large-up) {
        max-width: 1170px;
     }
     @include respond (medium) {
        max-width: 960px;
        padding: 20px;
     }
     @include respond (small) {
        padding: 15px;
     }
}
main {
    padding-bottom: 185px;
}
img {
    max-width: 100%;
    height: auto;
}


    