/*    button  */

.button-primary {
    color: $btn-color;
    background-color: $btn-bg;
    display: inline-block;
    font-family: 'Whitney Semibold';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 12px 60px;
    border-radius: 4px;
}




