// переменные      

//основные цвета
$body-color: #474351;  
$link-color: #fff;
$title-color: #2E2D35;
$btn-color: #fff;
$btn-bg: #f56456;
$bg-image: linear-gradient(to right, #053996, #105eec);










